.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fff9f2;
    padding: 12rem;
}

.login-form {
    flex: 1;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin-right: 2rem;
}

.login-form h2 {
    margin-bottom: 1.5rem;
    color: #a52a2a;
    font-size: 1.8rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #218838;
}

.login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 80%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .login {
        flex-direction: column;
    }

    .login-form {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .login-image img {
        max-width: 80%;
    }
}